{% extends 'base.html'%}
{%block title%}Atualizar Chamado{% endblock %}
{% block content %}

<form action="/atualizar/{{chamado.id}}" method="POST" class="container">

    <div class="att-display">
        <p>
            <label for="lab" form="form-label">
                <h3 style="color: black;">Laboratório:</h3>
            </label>
            <input type="text" id="lab" name="lab" value="{{comp.Object_lab}}" class="att-input">
        </p>



        <p>
            <label for="comp" form="form-label">
                <h3 style="color: black;">Computador:</h3>
            </label>
            <input type="text" id="comp" name="comp" value="{{comp.Object_compname}}" class="att-input">
        </p>



        <p>
            <label for="problem_type" form="form-label">
                <h3 style="color: black;">Tipo de problema:</h3>
            </label>
            <input type="text" id="problem_type" name="problem" value="{{chamado.Problem}}" class="att-input">
        </p>

    </div>

    <div class="att-display-descri">
        <p>
            <label for="description" form="form-label">
                <h3 style="color: black;">Descrição:</h3>
            </label>
            <textarea name="description" id="description" cols="30" rows="10" name="description"
                class="att-description">{{chamado.Description}}</textarea>
        </p>
    </div>

    <div class="att-display-enviar">
        <p>
            <input type="submit" id="Enviar" value="Enviar" class="att-enviar">
        </p>
    </div>

</form>

{% endblock %}