<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleSP.css')}}">
    <script defer type="text/javascript" src="{{url_for('static', filename='js/java.js')}}"></script>
    <title>TECHELP - {%block title%}{% endblock %}</title>
</head>
<body class="fundo">
    <div class="barrasup">
        <img class = "logo" src="{{ url_for('static', filename='img/Logo.png') }}" alt="logo">
        <img class = "techelp" src="{{ url_for('static', filename='img/techelp.png') }}" alt="techelp">
        <div class="buttons">
            <div class="butao">
            <a class="butao" href="/"><img class = "hexagHM" src="{{ url_for('static', filename='img/Home.png') }}" alt="hexagono"></a>
            </div>
            
            <div class="butao">
            <a href="/"><img class = "hexagRP" src="{{ url_for('static', filename='img/RelatarBut.svg') }}" alt="hexagono"></a>
            </div>
            
            <div class="butao">
            <a href="https://siga.cps.sp.gov.br/fatec/login.aspx" target="_blank"><img class = "hexagSF" src="{{ url_for('static', filename='img/SIGABut.svg') }}" alt="hexagono"></a>
            </div>

            <div class="butao">
            <a href="/"><img class = "hexagAT" src="{{ url_for('static', filename='img/TecnicoBut.svg') }}" alt="hexagono"></a>
            </div>
        </div>
    </div>
    <section>
        {% block content%}
        {% endblock %}
    </section>
</body>
</html>
