<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleHM.css">
    <title>TECHELP - Home</title>
</head>
<body class="fundo">
    <div class="centro">
        <a href="https://www.google.com/search?q=nicolas+cage&client=opera-gx&hs=ZGw&sxsrf=ALiCzsblPBXqI_w4M9vtn8IMuRJBwVkxeQ:1664452906561&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjUrvah-rn6AhUlrJUCHUwWDXcQ_AUoAnoECAMQBA"><img class = "hexag" src="../static/img/Hexagono.png" alt="hexagono"><h1 class="butTxt">Área do Técnico</h1></a>

      
        <img class = "logo" src="../static/img/Logo.png" alt="logo" height="370px" width="350px">
  
        
        <a href="/problemas"><img class = "hexag" src="../static/img/Hexagono.png" alt="hexagono"><h1 class="butTxt">Relatar Problema</h1></a>  
    </div>
    <div class="techelp">
        <img class="techelp" src="../static/img/techelp.png" alt="techelp">
    </div>
</body>
</html>