<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/Lab_Main.css" />

    <title>Laboratório</title>
  </head>
  <body>
    <header class="header">
      <a href="/">Logo</a>
      <nav>
        <ul class="Menu">
          <li><a href="/">Sobre</a></li>
          <li><a href="/">Produto</a></li>
          <li><a href="/">Contato</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="lab_geral">
        <container class="local">
          <div class="rotulo">Laboratório 302</div>

          <container class="container_layout">
            <div class="laboratorio_layout">
              <a href="/">
                <div class="container_prof">
                  <card class="card_prof" id="prof">
                    <div class="texto_prof">Prof</div>
                  </card>
                </div>
              </a>
            </div>

            <!--Bancadas -->
            <div class="Bancadas" id="bancada_2">
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="06">
                    <div class="texto_abaixo">06</div>
                  </card>
                </a>
              </div>

              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="05">
                    <div class="texto_abaixo">05</div>
                  </card>
                </a>
              </div>

              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="04">
                    <div class="texto_abaixo">04</div>
                  </card>
                </a>
              </div>
            </div>
            <div class="Bancadas" id="bancada_1">
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="03">
                    <div class="texto_abaixo">03</div>
                  </card>
                </a>
              </div>

              <div class="laboratorio_layout">
                <a href="/">
                <card class="card" id="02">
                  <div class="texto_abaixo">02</div>
                </card>
                </a>
              </div>

              <div class="laboratorio_layout">
                <a href="/">
                <div class="laboratorio_layout">
                  <card class="card" id="01">
                    <div class="texto_abaixo">01</div>
                  </card>
                </a>
                </div>
              </div>
            </div>
            <div class="Bancadas" id="bancada_4">
              <div class="laboratorio_layout">
                <a href="/">  
                <card class="card" id="12">
                    <div class="texto_abaixo">12</div>
                  </card>
                </a>
                </div>
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="11">
                    <div class="texto_abaixo">11</div>
                  </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="10">
                    <div class="texto_abaixo">10</div>
                  </card>
                </a>
              </div>
            </div>
            <div class="Bancadas" id="bancada_3">
              <div class="laboratorio_layout">
                <a href="/">  
                <card class="card" id="09">
                    <div class="texto_abaixo">09</div>
                  </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/">
                <card class="card" id="08">
                    <div class="texto_abaixo">08</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="07">
                    <div class="texto_abaixo">07</div>
                  </card>
                </a>
              </div>
            </div>
            <div class="Bancadas" id="bancada_6">
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="18">
                    <div class="texto_abaixo">18</div>
                  </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="17">
                    <div class="texto_abaixo">17</div>
                  </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="16">
                    <div class="texto_abaixo">16</div>
                  </card>
                </a>
              </div>
            </div>
            <div class="Bancadas" id="bancada_5">
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="15">
                    <div class="texto_abaixo">15</div>
                  </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="14">
                    <div class="texto_abaixo">14</div>
                  </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/">
                  <card class="card" id="13">
                    <div class="texto_abaixo ">13</div>
                  </card>
                </a>
              </div>
            </div>
          </container>
        </container>
      </section>
    </main>
  </body>
</html>
