{% extends 'base.html' %}
{%block title%}TECHELP - Selecione o Computador{% endblock %}
{% block content %}
<style>
    .pc {cursor: pointer;transition: transform .2s;}
    .pc:hover {filter: drop-shadow(0px 2px 10px #0C0C0C);}
    .mesa {cursor: auto;}
    .porta1 {cursor: auto;}
    .quadrobranco {cursor: auto;}
    .server {cursor: auto;}
  </style>
  <body>
    <main>
      
      <section class="lab_geral">
        <container class="local">
          <div class="rotulo">Laboratório {{lab}}</div>
          <center>
            <div class="editarea">
              <div class="pctablemaster">
                {% for row in elmnts %}
                {% if 'class="pc"' in row.Object_div %}
                  <a class="nomePc" href="/{{row.Object_lab}}/{{row.id}}/seleção_problemas"><p>{{row.Object_div |safe}}</p></a>
                {% else %}
                  <p>{{row.Object_div |safe}}</p>
                {% endif %}
                {% endfor %}
                </div>
            </div>
            </center>
          </container>
          
      </section>
    </main>
  </body>
{% endblock %}