<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/Portas_Main.css">

    <title>portas</title>
  </head>
  <body>
    <header class="header">
      <a href="">Logo</a>
      <nav>
        <ul class="Menu">
          <li><a href="">Sobre</a></li>
          <li><a href="">Produto</a></li>
          <li><a href="">Contato</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="container_geral">
        <container class="local">
          <div class="rotulo"><u>Selecione o Laboratório</u></div>

            <!--fileiras 1-->
            <div class="fileiras" id="fileira 01">
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="301">
                  <div class="texto_central">301</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="302">
                  <div class="texto_central">302</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="303">
                  <div class="texto_central">303</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="401">
                  <div class="texto_central">401</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="402">
                  <div class="texto_central">402</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="403">
                  <div class="texto_central">403</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="404">
                  <div class="texto_central">404</div>
                </card>
                </a>
              </div>
            </div>

            <!--fileira 2 -->
            <div class="fileiras" id="fileira 02">
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="405">
                  <div class="texto_central">405</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="406">
                  <div class="texto_central">406</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="407">
                  <div class="texto_central">407</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="408">
                  <div class="texto_central">408</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="409">
                  <div class="texto_central">409</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="411">
                  <div class="texto_central">411</div>
                </card>
                </a>
              </div>
              <div class="laboratorio_layout">
                <a href="/Lab">
                <card class="card" id="412">
                  <div class="texto_central">412</div>
                </card>
                </a>
              </div>
            </div>
          </container>
        </container>
      </section>
    </main>
  </body>
</html>
