{% extends 'base.html' %}
{%block title%}TECHELP - Selecione o Laboratório{% endblock %}
{% block content %}
  <body>
    <main>
      <section class="container_geral">
        <container class="local1">
          <div class="rotulo"><u>Selecione o Laboratório</u></div>

            <!--fileiras 1-->
            <div class="fileiras" id="fileira 01">
              {% for item in labs %}
              <div class="laboratorio_layout">
                <a href="/laboratorio/{{item}}">
                <card class="porta" id="{{item}}">
                  <div class="texto_central">{{item}}</div>
                </card>
                </a>
              </div>
              {% endfor %}
            </div>
            
          </container>
      </section>
    </main>
  </body>

{% endblock %}