{% extends 'base.html' %}
{% block content %}
<body class="fundo">
    <div class="centro">

        <!-- Botão Software -->
        <a href="#" id="botão-software">
            <h1 class="software" onclick="descrição()"><u>Software</h1></u>
        </a>
        <hr class="linha" size="6" width="600px" color="#555555">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="circuloE">
            <circle cx="15" cy="15" r="15" />
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="circuloD">
            <circle cx="15" cy="15" r="15" />
        </svg>

        <img class="" src="../static/img/TipoBut.png" alt="logo" height="370px" width="350px">

        <!-- Botão Hardware -->
        <a href="#" id="botão-hardware">
            <h1 class="hardware"><u>Hardware</h1></u>
        </a>
    </div>
    <!-- Modais -->
    <div class="bg-modal">

        <!-- Modal Descrição -->
        <div class="modal-content-descrição">
            <div class="close" onclick="fechar()">+</div>
            <form>
                <h1 class="titulo">Conte-nos sobre seu problema</h1>

                <div>
                    <!-- a função obrigado leva até o modal de obrigado -->
                    <textarea name="description" id="dedssdfsdf" class="descrição" cols="30" rows="6"
                        placeholder="Descrição...."></textarea>

                </div>
                <div class="botão">
                    <!-- a função obrigado leva até o modal de obrigado -->
                    <button href="/cadastrar" class=btn type="submit" onclick="obrigado()">Enviar</button>
                </div>
            </form>

        </div>

        <!-- Modal Hardware -->
        <div class="modal-content-hardware">
            <div class="close" onclick="fechar()">+</div>
            <h1 class="titulo">Hardware</h1>
            <div class="lista-botão-A">
                <div class="lista-botão-B">
                    <!-- a função descrição leva até o modal de descrição -->
                    <button name="problem" value='Sem cabo de rede' class="problema-botão" onclick="descrição()" type="submit">Sem cabo de rede</button>
                    <button name="problem" value='Teclado não funciona' class="problema-botão" onclick="descrição()" type="submit">Teclado não funciona</button>
                    <button name="problem" value='Monitor não funciona' class="problema-botão" onclick="descrição()" type="submit">Monitor não funciona</button>
                    <button name="problem" value='Computador não liga' class="problema-botão" onclick="descrição()" type="submit">Computador não liga</button>
                    <button name="problem" value='Sem cabo de energia' class="problema-botão" onclick="descrição()" type="submit">Sem cabo de energia</button>
                    <button name="problem" value='Outros' class="problema-botão" onclick="descrição()" type="submit">Outros</button>
                </div>
            </div>
        </div>

        <!-- Modal Obrigado -->
        <div class="modal-content-obrigado">
            <div>
                <h1 class="título-obg">Obrigado!</h1>
                <h1 class="sub-obg">Seu problema será solucionado em breve por um técnico.</h1>
            </div>
            <div class="botãoogb">
                <a href="/home" class="nn" type="link">Home</a>
                <!-- link temporário de teste, pode mudar -->
                <a href="/seleção_problemas" class="nn2" type="menu">Laboratórios</a>
            </div>
        </div>
    </div>


</body>
{% endblock %}