<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleSP.css">
    <title>TECHELP - Seleção de Problemas</title>
</head>
<body class="fundo">
    <div class="barrasup">
        <img class = "logo" src="../static/img/Logo.png" alt="logo">
        <img class = "techelp" src="../static/img/techelp.png" alt="techelp">
        <div class="buttons">
            <div class="butao">
            <a class="butao" href="/"><img class = "hexagHM" src="../static/img/Home.png" alt="hexagono"></a>
            </div>
            
            <div class="butao">
            <a href="https://www.google.com/search?q=nicolas+cage&client=opera-gx&hs=tY7&sxsrf=ALiCzsatqFE5OnsbcmMveRe6Achysc46bA:1664893526674&source=lnms&tbm=isch&sa=X&ved=2ahUKEwij8vvZ48b6AhU2BbkGHS7ICpsQ_AUoAnoECAIQBA"><img class = "hexagRP" src="../static/img/RelatarBut.svg" alt="hexagono"></a>
            </div>
            
            <div class="butao">
            <a href="https://siga.cps.sp.gov.br" target="_blank"><img class = "hexagSF" src="../static/img/SIGABut.svg" alt="hexagono"></a>
            </div>

            <div class="butao">
            <a href="https://www.google.com/search?q=keanu+reeves+brasileiro&client=opera-gx&hs=ylz&sxsrf=ALiCzsbIuDJiQG6ihjzGxCJUwAYYooXa-A:1664863585169&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi1vN-U9MX6AhXyILkGHcgXDj4Q_AUoAXoECAEQAw&biw=1309&bih=561&dpr=1"><img class = "hexagAT" src="../static/img/TecnicoBut.svg" alt="hexagono"></a>
            </div>
        </div>
    </div>
    <div class="centro">
        <a href="https://www.google.com/search?q=nicolas+cage&client=opera-gx&hs=ZGw&sxsrf=ALiCzsblPBXqI_w4M9vtn8IMuRJBwVkxeQ:1664452906561&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjUrvah-rn6AhUlrJUCHUwWDXcQ_AUoAnoECAMQBA"><h1 class="software"><u>Software</h1></u></a>

        <hr class="linha" size="6" width="600px" align="left" color="#555555">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="circuloE">
            <circle cx="15" cy="15" r="15"/>
            </svg>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="circuloD">
                <circle cx="15" cy="15" r="15"/>
                </svg>
       
        <img class = "" src="../static/img/TipoBut.png" alt="logo" height="370px" width="350px">
  
        
        <a href="https://www.google.com/search?q=nicolas+cage&client=opera-gx&hs=ZGw&sxsrf=ALiCzsblPBXqI_w4M9vtn8IMuRJBwVkxeQ:1664452906561&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjUrvah-rn6AhUlrJUCHUwWDXcQ_AUoAnoECAMQBA"><h1 class="hardware"><u>Hardware</h1></u></a>
    </div>
</body>
</html>
