{% extends 'base.html' %}
{%block title%}TECHELP - Visualizar Problemas{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles_visualizar.css')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>


</head>

<!-- Aqui temos a tabela de visualização-->
<div class='central'>
    <h1>Problemas relatados</h1>
    <form action="/visualizar" method="POST" class="filter">
        <select type="text" id="statusId" name="status" class="att-input">
            <option value="Todos">Todos</option>
            <option value="Pendente">Pendentes</option>
            <option value="Em andamento">Em andamento</option>
            <option value="Finalizado">Finalizados</option>
            <option value="Cancelado">Cancelados</option>
        </select>
        <input type="submit" id="Enviar" value="Filtrar" class="att-enviar">

        <script type="text/javascript">
            document.getElementById('statusId').value = "<?php echo $_POST['status'];?>";
        </script>

    </form>

    <!-- Aqui tem um for para conseguir colocar na tabela somente as informações da cada campo não o banco em formato de lista-->
    <div class="l-cards">
        
        {% for i in tabela %}
        
        <article class="c-card">
            <div class="card-content">
                <h3>ID #{{i[0]}}</h3>
                <div>
                    <h4 class="card-info">Data: {{i[5]}}</h4>
                    <h4 class="card-info">Laboratório: {{i[8]}}</h4>
                    <h4 class="card-info">Computador: {{i[9]}}</h4>
                    <h4 class="card-info">Problema: {{i[2]}}</h4>
                    <h4 class="card-info">Status: {{i[4]}}</h4>
                    <a class="card-vermais" href='/ver_mais/{{i[0]}}'>
                        <h4 class="card-vermais">Ver Mais</h4>
                    </a>
                    {% if current_user.is_authenticated %}
                    <a class="btn del btn-danger" href='/deletar/{{i[0]}}'><i class="bi bi-trash"></i></a>
                    {% endif %}
                    <!-- <a class="btn updt btn-secondary" href='/atualizar/{{i[0]}}'><i class="bi bi-arrow-clockwise"></i></a> -->
                </div>
            </div>
        </article>
        <!-- Por último você tem os botões com a referencia de sua respectiva função no caso o caminho que você atribui no route das funções atualizar e deletar no app.py-->
        {% endfor %}
    </div>
</div>

<div class="chart">
    <canvas id="myChart"></canvas>
</div>

    <script>
    // Criar gráficos

        function BuildChart(labels, values, chartTitle) {
            let ctx = document.getElementById("myChart").getContext('2d');
            let myChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                labels: labels, // Our labels
                datasets: [{
                  label: chartTitle, // Name the series
                  data: values, // Our values
                  backgroundColor: [ // Specify custom colors
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderColor: [ // Add custom color borders
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1 // Specify bar border width
                }]
              },
              options: {
                responsive: true, // Instruct chart js to respond nicely.
                maintainAspectRatio: false, // Add to prevent default behavior of full-width/height
                scales: {
                    scaleLabel: { 
                        fontSize: 16 
                    }
                }
              }
            });
            return myChart;
          }
          
        
          // Ler a tabela
          // var table = document.getElementById('dataTable');
          var tabela = {{tabela|tojson}}
            var json = []; // First row needs to be headers 
            var headers =[];
            for (var i = 0; i < tabela.length; i++) {
            headers[i] = tabela[i][2];
            }
            // Go through cells 
            for (var i = 0; i < tabela.length; i++) {
            var rowData = {
                id:`${tabela[i][0]}`,
                data:tabela[i][5],
                laboratorio:tabela[i][8],
                computador: tabela[i][9],
                problema:tabela[i][2],
                descrição:tabela[i][3],
                status:tabela[i][4]
            };
            json.push(rowData);
            }
            // Map JSON values back to label array
            var labels = [...new Set(json.map(item => item.problema))]; // Pegando os distintos status
            
            // Map JSON values back to values array
            var values = labels.map(function (labels) {
                e = json.filter(item => item.problema === labels).length;
                return e;
            });
        
            var chart = BuildChart(labels, values, "Status de chamado");
    </script>


<!-- <script src="../static/js/graph.js"></script> JS dos gráficos -->

{% endblock %}