{% extends 'base.html' %}
{% block content %}

    <!-- Aqui temos a tabela de visualização-->
    <table class="table table-info table-bordered table-striped" style="margin-bottom: 0%;">
        <thead>
            <tr>
                <!-- Aqui fica a parte de identificação das colunas -->
                <th scope="col" class="espaço">ID</th>
                <th scope="col" class="espaço">Laboratório</th>
                <th scope="col" class="espaço">Computador</th>
                <th scope="col" class="espaço">Tipo de Problema</th>
                <th scope="col" class="espaço">Descrição</th>
                <th scope="col" class="espaço">Status</th>
                <th scope="col" class="espaço">Data</th>
                {% if current_user.is_authenticated %}
                <th scope="col" class="espaço">Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        <!-- Aqui tem um for para conseguir colocar na tabela somente as informações da cada campo não o banco em formato de lista-->
        {% for item in tabela %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.lab}}</td>
            <td>{{item.comp}}</td>
            <td>{{item.problem}}</td>
            <td>{{item.description}}</td>
            <td>{{item.status}}</td>
            <td>{{item.time_created}}</td>
            <!-- Por último você tem os botões com a referencia de sua respectiva função no caso o caminho que você atribui no route das funções atualizar e deletar no app.py-->
            {% if current_user.is_authenticated %}
            <td><a class="btn btn-danger" href='/deletar/{{item.id}}'><i class="bi bi-trash"></i>Deletar</a>
            <a class="btn btn-secondary"href='/atualizar/{{item.id}}'><i class="bi bi-arrow-clockwise"></i>Atualizar</a></td> 
            {% endif %}    
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}