* {
    margin: 0%;
    padding: 0%;
}
.butTxtH {
    text-align: center;
    color: #A90405;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4.5vw;
    text-decoration: none;
    position: absolute;
    display: flex;
    margin-top: -18vw;
    width: 2vw;
    margin-left: 3vw;
}


.logoH {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25vw;
    width: 25vw;
}


.hexcentroH:hover {
    transform: scale(1.1);
    transition: 0.1s;
    cursor: pointer;
 }

 .centroH {
    height: 10vw;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 35vh;
    background: -webkit-linear-gradient(90deg, #c41c1c 50%, #ff1616 50%);
}

